@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu|Indie+Flower&display=swap');

:root {
	/*
	1. line height (line spacing) to at least 1.5 times the font size. 
	The 1.4.12 requirements from WCAG 2.2 https://www.w3.org/TR/WCAG22/#text-spacing

	2. Spacing following paragraphs to at least 2 times the font size;
	The 1.4.12 requirements from WCAG 2.2 https://www.w3.org/TR/WCAG22/#text-spacing
	This gap should be computed taking into account the line-height
	*/

	--uds-typography-main-line-height: var(--ds-typography-main-line-height, 1.75); /* 1 */
	--uds-typography-main-margin: var(--ds-typography-main-margin, 1.25em); /* 2 */
}

html {
	font-family: var(--ds-typography-main-font-family, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif);
	font-size: var(--ds-typography-main-font-size, 1rem);
	color: var(--ds-typography-main-color, #222);
}

p:not([class]) {
	line-height: var(--ds-typography-paragraph-line-height, var(--uds-typography-main-line-height));
	margin-block-start: var(--ds-typography-paragraph-margin-block-start, var(--uds-typography-main-margin));
	margin-block-end: 0;
}

ul:not([class]),
ol:not([class]) {
	line-height: var(--ds-typography-list-line-height, var(--uds-typography-main-line-height));
	margin-block-start: var(--ds-typography-list-margin-block-start, var(--uds-typography-main-margin));
	margin-block-end: 0;
}

p:not([class]):first-child {
	--ds-typography-paragraph-margin-block-start: 0;
}

*:not(li) > ul:not([class]):first-child,
*:not(li) > ol:not([class]):first-child {
	/*
	When you import the nested list addon this at-rule
	shouldn't match to nested lists. So I use the * selector to reach that.
	*/
	--ds-typography-list-margin-block-start: 0;
}

li:not([class]):nth-child(n+2) {
	margin-block-start: var(--ds-typography-list-item-margin-block-start, .75em);
}

h1:not([class]),
h2:not([class]),
h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]) {
	margin-block-start: var(--ds-typography-heading-margin-block-start, 1em);
	margin-block-end: var(--ds-typography-heading-margin-block-end, .25em);
	line-height: var(--ds-typography-heading-line-height, var(--uds-typography-main-line-height));
	font-family: var(--ds-typography-heading-font-family, inherit);
}

h1:not([class]):first-child,
h2:not([class]):first-child,
h3:not([class]):first-child,
h4:not([class]):first-child,
h5:not([class]):first-child,
h6:not([class]):first-child {
	margin-block-start: 0;
}

h1:not([class]) {
	font-size: var(--ds-typography-h1-font-size, 2rem);
}

h2:not([class]) {
	font-size: var(--ds-typography-h2-font-size, 1.75rem);
}

h3:not([class]) {
	font-size: var(--ds-typography-h3-font-size, 1.5rem);
}

h4:not([class]) {
	font-size: var(--ds-typography-h4-font-size, 1.375rem);
}

h5:not([class]) {
	font-size: var(--ds-typography-h5-font-size, 1.25rem);
}

h6:not([class]) {
	font-size: var(--ds-typography-h6-font-size, 1.125rem);
}

a {
	color: var(--ds-typography-link-color, #5e4ef3);
}

img {
	display: var(--ds-typography-img-display, block);
	max-width: var(--ds-typography-img-max-width, 100%);
}


/*
=====
HELPERS
=====
*/

.is-margin {
	margin: 10px;
	outline: 10px solid var(--margin-area-color)
}

.is-margin-top {
	box-shadow: 0 -10px 0 0 var(--margin-area-color);
}

.is-margin-bottom {
	box-shadow: 0 10px 0 0 var(--margin-area-color);
}

.is-margin-left {
	box-shadow: -10px 0 0 0 var(--margin-area-color);
}

.is-margin-right {
	box-shadow: 10px 0 0 0 var(--margin-area-color);
}

.is-margin-left-auto {
	box-shadow: -10px 0 0 0 var(--margin-area-color);
}

.is-margin-right-auto {
	box-shadow: 10px 0 0 0 var(--margin-area-color);
}

.is-padding {
	padding: 10px;
	box-shadow: 0 0 0 10px var(--padding-area-color) inset;
}

.is-border {
	border: 10px solid var(--border-area-color);
}

.parent-padding {
	padding: 15px;
}

.parent-padding::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	border: 15px solid var(--padding-area-color);
}

.parent-padding-vertical {
	padding-block: 15px;
}

.parent-padding-vertical::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	border-block: 15px solid var(--padding-area-color);
}

.parent-padding-horizontal {
	padding-inline: 15px;
}

.parent-padding-horizontal::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	border-inline: 15px solid var(--padding-area-color);
}

.parent-padding-top {
	padding-top: 15px;
}

.parent-padding-top::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	border-top: 15px solid var(--padding-area-color);
}

.parent-padding-bottom {
	padding-bottom: 15px;
}

.parent-padding-bottom::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	border-bottom: 15px solid var(--padding-area-color);
}

.parent-border {
	border: 15px solid var(--border-area-color);
}

.parent-border-vertical {
	border-block: 15px solid var(--border-area-color);
}

.parent-border-horizontal {
	border-inline: 15px solid var(--border-area-color);
}

.parent-border-top {
	border-top: 15px solid var(--border-area-color);
}

.parent-border-bottom {
	border-bottom: 15px solid var(--border-area-color);
}

.parent-height {
	block-size: 320px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-right-auto {
	margin-right: auto;
}

.margin-left-auto {
	margin-left: auto;
}

.is-margin-auto {
	margin: auto;
}

.display-inline-block {
	display: inline-block;
}

.display-table {
	display: table;
}

.display-table-caption {
	display: table-caption;
}

.display-table-cell {
	display: table-cell;
}

.display-table-column {
	display: table-column;
}

.display-table-column-group {
	display: table-column-group;
}

.display-table-footer-group {
	display: table-footer-group;
}

.display-table-header-group {
	display: table-header-group;
}

.display-table-row {
	display: table-row;
}

.display-table-row-group {
	display: table-row-group;
}

.display-inline-table {
	display: inline-table;
}

.display-grid {
	display: grid;
}

.display-inline-grid {
	display: inline-grid;
}

.display-inline-flex {
	display: inline-flex;
}

.display-flex {
	display: flex;
}

.flex-direction-row {
	flex-direction: row;
}

.flex-direction-column {
	flex-direction: column;
}

.justify-content-flex-start {
	justify-content: flex-start;	
}

.justify-content-center {
	justify-content: center;	
}

.justify-content-flex-end {
	justify-content: flex-end;	
}

.justify-content-space-between {
	justify-content: space-between;	
}

.justify-content-space-around {
	justify-content: space-around;	
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.align-items-flex-end {
	align-items: flex-end;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

.align-self-flex-start {
	align-self: flex-start;
}

.align-self-center {
	align-self: center;
}

.align-self-flex-end {
	align-self: flex-end;
}


.align-items-baseline {
	align-self: baseline;
}

.align-self-stretch {
	align-self: stretch;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

.position-static {
	position: static;
}

.position-sticky {
	position: sticky;
}

.top-0 {
	top: 0;
}

.left-0 {
	left: 0;
}

.top-10 {
	top: 10px;
}

.left-10 {
	left: 10px;
}

.top--10 {
	top: -10px;
}

.left--10 {
	left: -10px;
}

.bottom-0 {
	bottom: 0;
}

.right-0 {
	right: 0;
}

.bottom-10 {
	bottom: 10px;
}

.right-10 {
	right: 10px;
}

.bottom--10 {
	bottom: -10px;
}

.right--10 {
	right: -10px;
}

.overflow-auto {
	overflow: auto;
}

/*
=====
TEMPLATE
=====
*/

/*
=====
RESET
=====
*/
:where(.ra-list) {
	margin-block-start: var(--ra-list-margin-block-start, 0);
	margin-block-end: var(--ra-list-margin-block-end, 0);
	padding-inline-start: var(--ra-list-padding-inline-start, 0);
	list-style: var(--ra-list-list-style, none);
}

.ra-link {
	display: var(--ra-link-display, inline-flex);
}

.ra-link[href] {
	color: var(--ra-link-color, inherit);
	text-decoration: var(--ra-link-text-decoration, none);
}

:where(.ra-button) {
	background-color: var(--ra-button-background-color, transparent);
	padding: var(--ra-button-padding, var(--ra-button-padding-top, 0) var(--ra-button-padding-right, 0) var(--ra-button-padding-bottom, 0) var(--ra-button-padding-left, 0));
	border: var(--ra-button-border, var(--ra-button-border-width, 0) var(--ra-button-border-style, solid) var(--ra-button-border-color, currentcolor));

	font-family: var(--ra-button-font-family, inherit);
	font-size: var(--ra-button-font-size, 1em);
	font-weight: var(--ra-button-font-weight, inherit);

	color: var(--ra-button-color, currentcolor);
	text-align: var(--ra-button-text-align, center);
	text-transform: var(--ra-button-text-transform, inherit);
	letter-spacing: var(--ra-button-letter-spacing, inherit);
	word-spacing: var(--ra-button-word-spacing, inherit);

	text-shadow: var(--ra-button-text-shadow, none);
	display: var(--ra-button-display, inline-flex);
}

/*
======
UIA-CONTROL
======
*/

.uia-control__group {
	cursor: var(--uia-control-cursor, var(--_uia-control-cursor, pointer));	
	line-height: var(--uia-control-line-height, 1);
}

.uia-control {
	--_uia-control-padding_default: 0;

	--_uia-control-border-width: var(--uia-control-border-width);
	--_uia-control-border-style: var(--uia-control-border-style, solid);
	--_uia-control-border-color: var(--uia-control-border-color, currentColor);
	--_uia-control-padding: var(--uia-control-padding,
		var(--uia-control-padding-block-start, var(--_uia-control-padding_default))
		var(--uia-control-padding-inline-end, var(--_uia-control-padding_default))
		var(--uia-control-padding-block-end, var(--_uia-control-padding_default))
		var(--uia-control-padding-inline-start, var(--_uia-control-padding_default))
	);
	--_uia-control-border: var(--_uia-control-border-width) var(--_uia-control-border-style) var(--_uia-control-border-color);
	--_uia-control-border-radius: var(--uia-control-border-radius, .25rem);
}

.uia-control__group {
	display: var(--uia-control-display, inline-grid);
	gap: var(--uia-control-gap, .5rem);

	padding: var(--_uia-control-padding);

	border: var(--_uia-control-border);
	border-radius: var(--_uia-control-border-radius);
	background-image: linear-gradient(
		var(--uia-control-background-degree, 135deg),
		var(--uia-control-background-start-color, var(--uia-control-background-color))
		var(--uia-control-background-start-position, 0),
		var(--uia-control-background-end-color, var(--uia-control-background-color))
		var(--uia-control-background-end-position, 100%)
	);
}

[data-uia-control-skin="2"] .uia-control__group {
	box-sizing: border-box;
	min-inline-size: var(--uia-control-min-main-size, 0);
	text-align: var(--uia-control-text-align, center);
}

[data-uia-control-skin="3"] {
	--_uia-control-stroke-color: var(--uia-control-stroke-color, currentColor);
	--_uia-control-stroke-thickness: var(--uia-control-stroke-thickness, 0);
	--_uia-control-stroke-thickness-selected: var(--uia-control-stroke-thickness-selected, 2px);
}

[data-uia-control-skin="3"]	.uia-control__group {
	transition: box-shadow .15s ease-out;
	box-shadow: inset 0 0 0 var(--_uia-control-stroke-thickness) var(--_uia-control-stroke-color);
}

[data-uia-control-skin="3"] [aria-selected="true"] {
	--uia-control-border-color: var(--_uia-control-stroke-color);
	--_uia-control-stroke-thickness: var(--_uia-control-stroke-thickness-selected);
}

@media (forced-colors: active) {

	[data-uia-control-skin="3"] [aria-selected="true"] {
		--uia-control-border-width: 5px;

		block-size: calc(100% - 5px);
	}
}

/*
=====
UIA-SCROLLER
=====
*/

.uia-scroller {
	display: var(--uia-scroller-display, flex);
	gap: var(--uia-scroller-gap, 0);
	overflow: var(--uia-scroller-overflow-x, auto) var(--uia-scroller-overflow-y, auto);
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: var(--uia-scroller-overscroll-behavior-inline, contain) var(--uia-scroller-overscroll-behavior-block, contain);
	scroll-snap-type: var(--uia-scroller-scroll-snap-type, x mandatory);
}

.uia-scroller__item {
	inline-size: var(--uia-scroller-item-inline-size, calc(100% / var(--uia-scroller-visible-items-number, 1)));
	flex: none;
	scroll-snap-align: var(--uia-scroller-scroll-snap-align, start);
}

.uia-scroller::-webkit-scrollbar {
	inline-size: var(--uia-scroller-scrollbar-width);
	block-size: var(--uia-scroller-scrollbar-height);
}

.uia-scroller::-webkit-scrollbar-thumb {
	background-color: var(--uia-scroller-thumb-color);
}

.uia-scroller::-webkit-scrollbar-track {
	background-color: var(--uia-scroller-track-color);
}

/*
=====
HELPERS
=====
*/

.ha-focus *:focus {
	outline: var(--ha-outline-width, 2px) var(--ha-outline-style, solid) var(--ha-outline-color, currentColor);
	outline-offset: var(--ha-outline-offset, 0);
}

.ha-screen-reader {
	width: var(--ha-screen-reader-width, 1px);
	height: var(--ha-screen-reader-height, 1px);

	position: var(--ha-screen-reader-position, absolute);
	clip-path: var(--ha-screen-reader-clip-path, rect(1px, 1px, 1px, 1px));
	overflow: var(--ha-screen-reader-overflow, hidden);
	white-space: var(--ha-screen-reader-white-spacw, nowrap);
}

/*
=====
CORE STYLES
=====
*/

:root {
    /* color tokens */

	--white: #fff;
	--black: #222;

	--gray-light: #f9f9fe;
	--gray: #f0f0f0;
	--gray-dark: #d3d1d1;	

	--main-color-light: #f7f1ff;
	--main-color: #906aeb;
	--main-color-dark: #814dff;

	--warning-color-light: #ffe5e2;
	--warning-color-dark: #f37667;

	--accent-color-light: #fed26c;
	--accent-color: #feca57;
	--accent-color-dark: #fbb128;

	--helping-color-light: #fff3ed;
	--helping-color: #ffd3bd;
	--helping-color-dark: #ffa87c;

	/* gaps tokens */

	--gap-2xs:   .25rem;
	--gap-xs:    .5rem;
	--gap-s:     .75rem;
	--gap-m:     1rem;
	--gap-l:     1.25rem;
	--gap-xl:    1.5rem;
	--gap-2xl:   2rem;

	/* border radius tokens */

	--radius-s:   .25rem;
	--radius-m:    .5rem;
	--radius-l:    1.5rem;

	/* typography tokens */

	--font-size-s:   .75rem;
	--font-size-m:   1rem;
	--font-size-l:  1.5rem; 
	--font-size-xl:  1.75rem; 

	--content-area-color: #c1f1e3;
	--parent-area-color: #579ceb;
	--padding-area-color: var(--main-color-dark); 
	--border-area-color: var(--accent-color-dark);
	--margin-area-color: var(--accent-color);

	--ds-typography-heading-font-family: Indie Flower, cursive;
	--ds-typography-heading-line-height: 1.25;
	--ds-typography-heading-margin-block-end: .5em;
	--ds-typography-h3-font-size: var(--font-size-xl);
	--ds-typography-paragraph-margin-block-start: .75em;

	--tabs-control-padding: var(--gap-m) var(--gap-xl);
	--tabs-control-background-color: var(--main-color-light);
	--tabs-control-border-width: 3px;
	--tabs-control-border-color: transparent;
	--tabs-control-border-radius: var(--gap-xl);
	--tabs-control-stroke-color: var(--main-color-dark);
	--tabs-control-border-color-hover: var(--main-color-dark);

	--remark-font-size: var(--font-size-s);
	--remark-padding: var(--gap-2xs) var(--gap-m);
	--remark-line-inline-size: var(--gap-2xs);
	--remark-line-border-radius: var(--radius-s);
	--remark-line-background-color: var(--warning-color-dark);	

	--infographics-gap: var(--gap-m) var(--gap-xl);
	--infographics-padding: var(--gap-m) var(--gap-l);
	--infographics-border: 1px solid var(--warning-color-dark);
	--infographics-background-color: var(--warning-color-light);
	--infographics-border-radius: var(--radius-m);
	--infographics-font-size: var(--font-size-s);   
	--infographics-parent-padding: var(--gap-2xs) var(--gap-l) var(--gap-m);
	--infographics-parent-background-color: var(--white);
	--infographics-parent-border: 2px dashed var(--parent-area-color);
	--infographics-parent-font-family: 'Baloo Tammudu', cursive;
	--infographics-parent-font-size: var(--font-size-s);
	--infographics-parent-text-parent: var(--gap-xs) var(--gap-2xs) 0;
	--infographics-item-padding: var(--gap-m) var(--gap-m) var(--gap-xs);
	--infographics-item-border: 2px solid var(--content-area-color);
	--infographics-item-background-color: var(--content-area-color);

	--demo-parent-area-color: var(--parent-area-color);
	--demo-caption-font-size: var(--font-size-s);
	--demo-fluid-caption-font-size: var(--font-size-s);
	--demo-box-background-color: var(--content-area-color);
	--demo-box-font-size: var(--font-size-s);
	--demo-box-accent-color: var(--helping-color-light);

	--widget-font-size: var(--font-size-s);
	--widget-gap: var(--gap-s) var(--gap-l);
	--widget-padding: calc(var(--gap-xl) - 1px) calc(var(--gap-l) - 1px);
	--widget-border-radius: var(--radius-s);
	--widget-button-padding: var(--gap-m) var(--gap-xl);
	--widget-button-border-radius: var(--radius-l);

	--substack-background-color: var(--helping-color-light);	
	--substack-button-background-color: var(--helping-color);
	--substack-button-border-color: var(--helping-color-dark);

	--ha-outline-color: var(--accent-color-dark);
	--ha-outline-offset: 5px;	
}

@media (forced-colors: active) {
	:root {
		--parent-area-color: var(--white);	
	}
}

@media (max-width: 1800px) {
	:root {
		font-size: 1.125rem;
	}
}

@media (min-width: 1801px) {
	:root {
		font-size: 1.25rem;
	}
}

body {
	margin: 0;
	background-color: var(--gray);
	padding: 1rem clamp(.25rem, 1vw, 2rem);
}

.page {
	/*
	1. min-inline-size is defined for correct displaying of the demos with position: absolute
	*/
	display: grid;
	min-inline-size: 21rem;
	padding: var(--gap-2xl) clamp(.5rem, 5vw, 3rem);

	background-color: var(--white);
	box-shadow: 1px 1px 10px 1px var(--gray-dark);
	border-radius: var(--radius-s);
}

.page__navigation {
	--uia-control-min-main-size: 100%;
	--uia-scroller-item-inline-size: fit-content;
	--uia-scroller-scrollbar-height: 0;

	font-size: var(--font-size-s);
	overflow: hidden;
}

.page__navigation-group {
	/*
	1. padding is defined for reservation of space for item's outline 
	when it is focused. It's the best way because if we set it to 
	the parent that will override the padding-inline-start properly 
	from .ra-list. Also I don't want to create one more tag for it.
	*/

	padding: var(--navigation-group-outline-space, .5rem);
}

.page__navigation-button {
	/*
	1. The handler of pushing the navigation buttons uses 
	event.target. So I need to make the layer so that the 
	handler works on the button
	*/

	position: relative;
}

.page__navigation-button::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 2;
}

.page__graphic-description {
	container-type: inline-size;
	container-name: inline-size-infographics-changing;
}

.page__infographics {
	display: grid;
	gap: var(--infographics-gap);

	padding: var(--infographics-padding);
	border: var(--infographics-border);

	font-size: var(--infographics-font-size);   
	background-color: var(--infographics-background-color);
	border-radius: var(--infographics-border-radius);
}


@container inline-size-infographics-changing (min-width: 560px) {

	.page__infographics {
		grid-template-columns: 1fr 17rem;
		align-items: center;
	}
}

.page__graphic {
	padding: var(--infographics-parent-padding);
	border: var(--infographics-parent-border);
	background-color: var(--infographics-parent-background-color);

	font-family: var(--infographics-parent-font-family);
	font-size: var(--infographics-parent-font-size);
}

.page__graphic-parent {
	display: block;
	padding: var(--infographics-parent-text-parent);
}

.page__graphic-child {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--infographics-item-padding);
	border: var(--infographics-item-border);
	background-color: var(--infographics-item-background-color);

	forced-color-adjust: none;
}

.page__demos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
	gap: var(--gap-2xl);
}

.page__demos:not(:first-child) {
	margin-block-start: var(--gap-xl);
}

.page__demos:not(:last-child) {
	margin-block-end: var(--gap-2xl);
}

.page__point {
	font-family: 'Baloo Tammudu', cursive;
	font-size: var(--font-size-l);
	color: var(--main-color-dark);
	line-height: 1;
}

.page__point::after {
	content: "";
	display: inline-flex;
	inline-size: var(--gap-2xs);
	block-size: var(--gap-2xs);
	border-radius: 50%;
	background-color: currentColor;
}

.page__remark {
	margin-block: var(--gap-m) var(--gap-xs);
	inline-size: min(100%, 75ch);
	box-sizing: border-box;

	font-size: var(--remark-font-size);
	font-style: italic;
	padding: var(--remark-padding);
	position: relative;
}

.page__remark::before {
	content: "";
	inline-size: var(--remark-line-inline-size, 4px);
	block-size: var(--remark-line-block-size, 100%);

	border-radius: var(--remark-line-border-radius, 2px);
	background-color: var(--remark-line-background-color, currentColor);

	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
}

.page__widgets {
	display: grid;
	gap: var(--gap-xl);
}

.page__widgets-item {
	container-type: inline-size;
	container-name: inline-size-changing;
}

.page__widget {
	--uia-control-min-main-size: var(--widget-button-min-inline-size, 12rem);
	--uia-control-padding: var(--widget-button-padding);
	--uia-control-border-width: 2px;
	--uia-control-border-radius: var(--widget-button-border-radius);

	box-sizing: border-box;
	min-block-size: 100%;

	display: grid;
	gap: var(--widget-gap);

	font-size: var(--widget-font-size, inherit);
	background-color: var(--widget-background-color);
	border: 1px solid transparent;
	padding: var(--widget-padding);
	border-radius: var(--widget-border-radius);
}

@container inline-size-changing (min-inline-size: 500px) {

	.page__widget {
		grid-template-columns: 1fr auto;
		align-items: center;
	}
}

.page__widget-share {	
	margin: auto;
}

.page__substack {
	--uia-control-border-color: var(--substack-button-border-color);
	--uia-control-background-color: var(--substack-button-background-color);
	--widget-background-color: var(--substack-background-color);	
}

@media (max-width: 1280px) {

	.page {
		gap: var(--gap-2xl);
	}
}

@media (min-width: 981px) {

	.page__navigation {
		--uia-scroller-display: grid;
		--uia-scroller-item-inline-size: auto;
	}

	.page__navigation-list {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	}

	.page__navigation-button {
		inline-size: 100%;
	}
}

@media (min-width: 1281px) {

	.page {
		grid-template-columns: 70ch 1fr;
		align-items: flex-start;
		gap: var(--gap-xl) 3.75rem;
	}

	.page__navigation {
		grid-column: 2;
	}

	.page__container {
		grid-row: 1 / span 4;
	}

	.page__infographics {
		grid-column: 2;
	}

	.page__widgets {
		grid-column: 2;
		box-sizing: border-box;
	}
}

@media (min-width: 1801px) {

	.page {
		max-inline-size: 98rem;

		display: grid;
		grid-template-columns: 22rem 70ch 1fr;
		align-items: flex-start;
		gap: var(--gap-xl) 4rem;
	}

	.page__navigation {
		grid-column: 1;
	}
	.page__infographics {
		grid-column: 1;
	}

	.page__container {
		grid-column: 2;
	}

	.page__widgets {
		grid-column: 3;
		grid-row: 1 / span 3;
	}
}

/*
=====
DEMO
=====
*/

.page__demo {
	display: grid;
	row-gap: var(--demo-caption-gap, .5rem);
}

.page__demo-viewport {
	position: relative;
	forced-color-adjust: none;
}

.page__demo-viewport::after {
	content: "";
	box-sizing: border-box;
	inline-size: 100%;
	block-size: 100%;
	border: 2px dashed var(--demo-parent-area-color);
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
}

.page__demo-viewport-fixed {
	filter: opacity(1);
}

.page__demo-caption {
	text-align: center;
	font-size: var(--demo-caption-font-size);
	font-style: italic;
}

.page__demo-fluid-caption {
	display: block;
	text-align: center;
	margin-block-start: 2.25rem;

	font-size: var(--demo-fluid-caption-font-size);
	font-style: italic;
}

.demo-box {
	background-color: var(--demo-box-background-color);
	font-family: 'Baloo Tammudu', cursive;
	font-size: var(--demo-box-font-size);
}

.demo-box_with-sizes {
	inline-size: var(--demo-box-width, 148px);
	block-size: var(--demo-box-height, 148px);
}

.demo-box_accent {
	background-color: var(--demo-box-accent-color);
}

[role="tablist"] {
	--uia-control-padding: var(--tabs-control-padding);
	--uia-control-background-color: var(--tabs-control-background-color);
	--uia-control-border-width: var(--tabs-control-border-width);
	--uia-control-border-color: var(--tabs-control-border-color);
	--uia-control-border-radius: var(--tabs-control-border-radius);
	--uia-control-stroke-color: var(--tabs-control-stroke-color);
}

[role="tab"]:not([aria-selected="true"]):hover {
	--uia-control-border-color: var(--tabs-control-border-color-hover);
}
